/ClientPlayer.class
/GameState.class
/Payload$IdNamePair.class
/Payload$PlayerInfo.class
/Payload$ProjectileInfo.class
/Payload$TeamScore.class
/Payload.class
/PayloadType.class
/Room.class
/ServerThread.class
/SocketServer.class
